APP_ID=<APP_ID>
DISCORD_TOKEN=<DISCORD_TOKEN>
PUBLIC_KEY=<PUBLIC_KEY>

POSTGRES_USER=pushup
POSTGRES_PASSWORD=change_me
POSTGRES_DB=pushup_challenge
DATABASE_URL=postgresql://pushup:change_me@db:5432/pushup_challenge
